<div class="modal-header">
	<h4 class="modal-title">Plugin Selection</h4>
</div>
<div class="modal-body">
	<div class="plugin-selector">
		<div class="categories col-sm-3">
		  {{#each categorized}}
		  <a href="#" class="select-category {{#ifeq @key ../selectedCategory}}selected{{/ifeq}}">{{@key}}</a>
		  {{/each}}
		</div>
		<div class="plugins col-sm-9">
			Selected plugs: {{#each selectedPlugins}}<span>{{this}} <a hre="#" class="remove-plugin" data-name="{{this}}">&times;</a></span> &nbsp;{{/each}}
			<div class="table-responsive">
  				<table class="table table-striped">
				<tbody>
					{{#each selectedCategoryPlugins}}
					<tr>
						<td><input type="checkbox" name="{{plugin.name}}" {{#in ../selectedPlugins plugin.name}}checked="checked"{{/in}}/><td>{{plugin.title}}</td><td>{{{plugin.excerpt}}}</td>
					</tr>
					{{/each}}
				</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary install-home">
		Back
	</button>
	<button type="button" class="btn btn-primary install-selected">
		Install
	</button>
</div>
